@import "./responsive.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: lightcyan;
    }
    @include md{
        background-color: lightblue;
    }
    @include sm{
        background-color: coral;
    }
   
}

